{% load static %}
<!doctype html>
<html lang="pt-br" class="h-100" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<link href="{% static '/css/estilo.css' %}" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	{% block css_personalizado %}
	{% endblock  %}


    <title >{% block titulo_da_pagina %}Home {% endblock titulo_da_pagina %}</title>
</head>
<body class="d-flex flex-column h-100">
 <main class="flex-shrink-0 mb-3">
  {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark mb-auto  fixed-top">
		
		<a class="navbar-brand" href="{% if user.is_authenticated %} {% url 'app:secretaria' %} {% else %} {% url 'accounts:login_user'%} {%endif%} ">
			<img src="{% static 'images/logo_sol.png'%}" alt="imagem " width="50px" height="50px"><span id="nome-titulo">Início</span></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		{% if user.is_authenticated %}
			{% block navitens %}
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav ">
				{% if perms.app.view_denuncia %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Denúncia
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
					{% if perms.app.view_denuncia %}
						<li><a class="dropdown-item" href="{% url 'app:lista_denuncia' %}">Todas</a></li>
					{% endif %}
					{% if perms.app.add_comunicante %}
					<li><a class="dropdown-item" href="{% url 'app:registro_comunicante' %}">Registrar</a></li>
					{% endif %}
					</ul>
				</li>
				{% else %}
					{% if perms.app.add_comunicante %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Denúncia
							</a>
							<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
							<li><a class="dropdown-item" href="{% url 'app:registro_comunicante' %}">Registrar</a></li>
							</ul>
						</li>
					{% endif%}
				
				{% endif %}
				{% if perms.app.view_ocorrencia %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Ocorrência
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'app:lista_ocorrencia' %}">Todas</a></li>

					</ul>
					
				</li>
				{% endif %}
				{% if perms.app.view_vitima %}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Vítima
						</a>
						<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						<li><a class="dropdown-item" href="{% url 'app:lista_vitima' %}">Todas</a></li>
						<li><a class="dropdown-item" href="{% url 'app:cadastrar_vitima' %}">Registrar</a></li>
						</ul>
					</li>
				{% endif %}
				<li class="nav-item ">
					<a class="nav-link disabled" href="">Mapa</a>
				</li>
				{% if perms.app.view_cidade %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'app:dados_gerais' acao='geral' %}">Configurações</a>
					</li>
				{% endif %}  
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Minha conta
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
					<li><a class="dropdown-item" href="{% url 'accounts:update' %}">Visualizar</a></li>
					<li><a class="dropdown-item" href="{% url 'accounts:logout_view' %}">Logout</a></li>
					</ul>
				</li>
				</ul>
			</div>
				
			{% endblock navitens %}
		{% endif %}
	</nav>
	
	
  {% endblock nav %}
  {% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }}  alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  
	{% block content %}
	

	{% endblock content %}
</main>
	{% block footer%}
      <footer class="mt-auto footer py-3">
        <div class="container">
          <div class="row">
			<div class="col text-center">
				<img  src="{%static 'images/conselho_tutelar.png'%}" height="80px"></img>
			</div>
			<div class="col text-center" >
				<p ><a style="color: white !important;">Guilherme Alves da Silva</a>, <a style="color: white !important;">Gustavo da Silva Corona</a>, 
					<br>
					<a style="color: white !important;">Gustavo Oliveira Longo</a> e <a style="color: white !important;">Wendel Faria de Oliveira</a>.</p>
			</div>
			<div class="col text-center">
				<img src="{%static 'images/tetes.png'%}"  height="70px"></img>
			</div>
		  </div>
        </div>
      </footer>
    {% endblock footer%}
  
	{% block boostrapjs %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	{% endblock boostrapjs %}
	{% block scripts %}
		<script src="{% static '/js/scripts.js' %}"></script>
		<script src="https://kit.fontawesome.com/766db97956.js" crossorigin="anonymous"></script>

	
	{% endblock scripts %}
	{% block extra_scripts %}
	{% endblock %}
 


</body>
</html>
