{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}{{ titulo_pagina }} {% endblock titulo_da_pagina %}
{% block css_personalizado %}


{% endblock  %}
{% block navbar %}

{% endblock navbar %}
{% block content %}

<div class="container">
    <h1 class="mb-4">Configurações do sistema</h1>
    <div class="row">
      
        <div class="col-3">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Cidade
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <li><a href="{% url  'app:dados_gerais'  acao='cidade'  %}" class="link-dark rounded">Listar</a></li>
                  <li><a href="{% url  'app:dado_add'  objeto='cidade'  %}" class="link-dark rounded">Adicionar</a></li>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Bairro
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <li><a href="{% url  'app:dados_gerais'  acao='bairro'  %}" class="link-dark rounded">Listar</a></li>
                  <li><a href="{% url  'app:dado_add'  objeto='bairro'  %}" class="link-dark rounded">Adicionar</a></li>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Direito
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <li><a href="{% url  'app:dados_gerais'  acao='direito'  %}" class="link-dark rounded">Listar</a></li>
                  <li><a href="{% url  'app:dado_add'  objeto='direito'  %}" class="link-dark rounded">Adicionar</a></li>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Escola
                </button>
              </h2>
              <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <li><a href="{% url  'app:dados_gerais'  acao='escola'  %}" class="link-dark rounded">Listar</a></li>
                  <li><a href="{% url  'app:dado_add'  objeto='escola'  %}" class="link-dark rounded">Adicionar</a></li>
                </div>
              </div>
            </div>
            {% if perms.app.view_servidor %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                  Servidor
                </button>
              </h2>
              <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <li><a href="{% url  'app:dados_gerais'  acao='servidor'  %}" class="link-dark rounded">Listar</a></li>
                </div>
              </div>
            </div>
            {%  endif %}
          </div>
            </div>
        <div class="col">
          {% if queryset != '' %}
          
          <table class="table">
            <thead >
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dado</th>
                    {% if acao == 'servidor' %}
                    <th scope="col">Cargo</th>
                    {% endif%}
                    <th scope="col">Ação</th>
                </tr> 
            </thead>
            <tbody>
                {% for field in queryset  %}
                <tr>
                    <th scope="row">{{field.id}}</th>
                    {% if acao == 'servidor' %}
                      <td>{{field.get_full_name}}</td>
                        {% for group in field.groups.all %}
                          <td>{{group}}</td>
                        {% endfor %}
                    {% else %}
                    <td>{{field.nome }}</td>
                    {% endif %}
                    <td><a href="{% url 'app:dado_update' objeto field.id  %}" role="button" class="btn   btn-info pad" data-toggle="tooltip"  title="Editar">
                      <i class="far fa-edit "></i>
                  </a></td>
      
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% endif %}


        </div>
    </div>
</div>
{% block extra_scripts %}
<script>
    var requestGet = '{{request.path}}'
    var triggerEl = document.querySelector(`a[href="${requestGet}"]`)
    triggerEl.classList += " active"
</script>
{% endblock %}



  
 
{% endblock content %}
