{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}{{ titulo_pagina }} {% endblock titulo_da_pagina %}
{% block navbar %}

{% endblock navbar %}
{% block content %}

<div class="container">
  <form class="form-group mb-3" method="get" action='{% url 'app:lista_vitima'  %}'>
    <div class="row">
      <div class="col-8">
      <input class="form-control" type="search" name ="search" placeholder="Pesquisar" aria-label="Search">
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  data-bs-toggle="tooltip" data-bs-placement="top" title="Pesquisar"><i class="fas fa-search"></i></button>
      </div>
      <div class="col">
        <a href="{% url 'app:cadastrar_vitima'%}" role="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar Vítima" ><i class="fas fa-user-plus"></i></a>
      </div>
    </div>
  </form>

        <div class="row">
          <div class="col-sm-8">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="denuncia-tab" data-bs-toggle="tab" href="#denuncias" role="tab" aria-controls="home" aria-selected="false">Vítimas</a>
                    </li>
                    <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#denunciageral" role="tab" aria-controls="profile" aria-selected="true">Vítimas Gerais</a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="denuncias" role="tabpanel" aria-labelledby="home-tab">Sem vítimas para mostrar</div>
                    <div class="tab-pane fade " id="denunciageral" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Ações</th>
                                </tr> 
                            </thead>
                            <tbody>
                                {% for vitima in vitimas %}
                                <tr>
                                    <th scope="row">{{vitima.id}}</th>
                                    <td>{{vitima.nome}}</td>
                                    <td>
                                    <a href="{% url 'app:visualizar_vitima' vitima.id %}" role="button" class="btn btn-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">
                                        <i class="far fa-eye"></i>
                                    </a></td>
                                </tr>
                                {% endfor %}
                    
                            </tbody>
                        </table>
                    </div>
                </div>
          </div>

          <div class="col-sm-4">
            <ul class="list-group">
              <li class="list-group-item maioridade">
                  <h5 >Maioridade</h5>
              </li>
              {% for maioridade in maioridades %}
              <li class="list-group-item  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  {{maioridade.nome}}
                  <small>{{maioridade.data_nascimento| date:"d/m"}}</small>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

            
        
          
        </div>
    
</div>
  
 
{% endblock content %}
