{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}{{ titulo_pagina }} {% endblock titulo_da_pagina %}
{% block css_personalizado %}
<link href="{% static '/css/ocorrencia.css' %}" rel="stylesheet">


{% endblock  %}
{% block navbar %}

{% endblock navbar %}
{% block content %}

<div class="container">
        <a  href="{% url  'app:adicionar_anotacao'  ocorrencia.id  %}" class="btn btn-secondary"><i class="fas fa-plus"></i> Adicionar anotação</a>
        <a  href="{% url  'app:ocorrencia_to_pdf_view'  ocorrencia.id  %}" class="btn btn-danger red"> Gerar Pdf</a>
        
    <div class="row mt-3">
        <div class="col-sm-8">
            {% for anotacao in anotacoes  reversed %}
                <div class="card mb-2">
                    <div class="card-horizontal">
                        <div class="card-footer">
                            <small class="text-muted">{{anotacao.data | date:"d/m/y"}}</small>
                            <br>
                            <small class="text-muted">{{anotacao.data | date:"H:i"}}</small>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ anotacao.titulo}}</h4>
                            <p class="card-text">{{ anotacao.descricao}}.</p>
                               {% if anotacao.arquivo_set.all != '' %}
                               {% for arquivo in anotacao.arquivo_set.all %}
                               <a href="/iris/media/{{arquivo.upload}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="{{arquivo.titulo}}"><i class="far fa-file" ></i></a>
                                
                               </i>
                               {% endfor %}
                               {% endif%}
                        </div>
                    </div>
                </div>
            {% endfor%}
        </div>
        <div class="col-sm">
            <ul class="list-group position-fixed">
                <li class="list-group-item"><h4 class="mb-1">Ocorrencia Nº {{ocorrencia.id}}</h4></li>
                <li class="list-group-item">
                    <p>Data: {{ocorrencia.denuncia.horario | date:"d/m/y"}}</p>
                    <p>Conselheiro Responsável: {{ocorrencia.denuncia.conselheiro}}</p>
                    Direitos:
                    {% for direito in ocorrencia.denuncia.direito_set.all %}
                        {{direito}}
                    {% endfor %}
                    <p>Comunicante: {{ocorrencia.denuncia.comunicante}}</p>
                    <a href="{% url 'app:visualizar_denuncia' ocorrencia.denuncia.id%}"><p>Denuncia {{ocorrencia.denuncia.id}}</p></a>
                </li>
                <li class="list-group-item">
                    <h4>Vitimas</h4>
                    {% for tutelado in tutelados %}
                    <a href="{% url 'app:visualizar_vitima' tutelado.id%}"> <i class="fas fa-user-circle fa-2x" data-bs-toggle="tooltip" data-bs-placement="top" title="{{tutelado.nome}}"></i></a>
                    {% endfor %}
                </li>
              </ul>
        </div>
    </div>
<div class=" mt-3">
    <div class="row">
        <div class="col-sm-8">
            <div class="card ">
                <h5 class="card-header">Documentos <i class=" float-end fas fa-file-upload"></i></h5>
                <div class="card-body">
                    
                  <p class="card-text">
                    {% for arquivo in ocorrencia.arquivo_set.all %}
                        <a href="/iris/media/{{arquivo.upload}}" target="_blank"><i class="far fa-file"></i></a> {{arquivo.titulo}} <br>

                    {% endfor %}
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


  
 
{% endblock content %}
