{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}Registro Secretaria {% endblock titulo_da_pagina %}
{% block navbar %}

{% block navitens %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'registro_comunicante' %}">Registrar</a>
      </li>
      
    </ul>
  </div>
{% endblock navitens %}

{% endblock navbar %}
{% block content %}


<form id="form-comunicante" method="POST" action="{% url 'registro_comunicante' %}">
    {% csrf_token %}
    <h1>Dados do Comunicante</h1>

    <div class="form-group">
        <label for="nome">Nome:</label>
        {{ form.nome }}
    </div>
      <!-- <button type="addMeiodeContato" class="btn btn-primary">Adicionar Meio de Contato</button> -->
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="tipo">Tipo do Meio</label>
            <select id="tipo" class="form-control" >
                <option></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="forma">Meio</label>
            <input type="text" class="form-control" id="forma" placeholder="nomedoemail@gmail.com">
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="escolha">Tipo de Documento</label>
            <select id="escolha" class="form-control">
            <option></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="valor">Digitos</label>
            <input type="number" class="form-control" id="valor" placeholder="11111111111">
        </div>
    </div>
    
    <h1>Endereço</h1>
    <div class="form-row">

        <div class="form-group col-md-2">
            <label for="tipodelogradouro">Tipo de Logradouro</label>
            <select id="tipodelogradouro" class="form-control">
                <option></option>
            </select>
        </div>
        
        <div class="form-group col-md-5">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" placeholder="Coronel Borges">

        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="numerocasa">Número</label>
            <input type="number" class="form-control" id="numerocasa" placeholder="343">
        </div>

        <div class="form-group col-md-5">
            <label for="tipocomplemento">Complemento</label>
            <input type="text" class="form-control" id="tipocomplemento" placeholder="Ao lado da Casa das Carnes">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="tipocidade">Cidade</label>
            <select id="tipocidade" class="form-control">
                <option></option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label for="tipobairro">Bairro</label>
            <select id="tipobairro" class="form-control">
                <option></option>
            </select>
        </div>

    </div>
    <h1>Denúncia</h1>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="horario">Horário</label>
            <input type="time" class="form-control" id="horario">
        </div>
        <div class="form-group col-md-2">
            <label for="data">Data</label>
            <input type="date" class="form-control" id="data">  
        </div>
    </div>
    <div class="form-group">
        <label for="nomedasvitimas">Nome(s) da(s) possível(eis) Vítima(s)</label>
        <input type="text" class="form-control" id="nomedasvitimas">
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="direitoviolado">Direito Violado</label>
                    <select id="direitoviolado" class="form-control">
                        <option></option>
                    </select>
        </div>
    </div>

    <h2>Local da Violação do direito</h2>

    <div class="form-row">

        <div class="form-group col-md-2">
            <label for="tipodelogradouro">Tipo de Logradouro</label>
            <select id="tipodelogradouro" class="form-control">
                <option></option>
            </select>
        </div>
        
        <div class="form-group col-md-5">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" id="logradouro" placeholder="Coronel Borges">

        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="numerocasa">Número</label>
            <input type="number" class="form-control" id="numerocasa" placeholder="343">
        </div>

        <div class="form-group col-md-5">
            <label for="tipocomplemento">Complemento</label>
            <input type="text" class="form-control" id="tipocomplemento" placeholder="Ao lado da Casa das Carnes">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="tipocidade">Cidade</label>
            <select id="tipocidade" class="form-control">
                <option></option>
            </select>
        </div>

        <div class="form-group col-md-2">
            <label for="tipobairro">Bairro</label>
            <select id="tipobairro" class="form-control">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="descricao">Descrição da Situação</label>
        <input type="textarea" class="form-control" id="descricao">
    </div>
    
    <button type="submit" class="btn btn-primary">Enviar</button>

</form>
	
{% endblock content %}































</html>