{% extends "app/base.html" %}
{% load static %}

{% block titulo_da_pagina %}Registro Comunicante {% endblock titulo_da_pagina %}
{% block navbar %}

{% endblock navbar %}
{% block content %}

<div class="container mb-auto">
	
	<form id="form-comunicante" method="POST" class=" mb-4"action="{% url 'app:registro_comunicante' %}" novalidate>
			{% csrf_token %}

				<ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
						<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"><h3>Dados do Comunicante</h3></a>
							</li>
						<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><h3>Denúncia</h3></a>
						</li>
						
				</ul>
		
				<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<h1>Dados do Comunicante</h1>
								<div class="form-row">
								{% for field in comunicante %}
								<div class="form-group col">
										{{field.label_tag}}
										{{field}}
										<div class="invalid-feedback">
											{{field.errors}}
										</div>
								{% endfor %}
								</div>
						</div>
								<!-- <button type="addMeiodeContato" class="btn btn-primary">Adicionar Meio de Contato</button> -->
								<div class="form-row">
								{% for field in contato %}
										<div class="form-group col">
												{{field.errors}}
												{{field.label_tag}}
												{{field}}
										</div>
								{% endfor %}
								</div>
									
							<div class="form-row">
									<div class="form-group col">
											<label for="escolha">Tipo de Documento</label>
											{{documento.escolha}}
									</div>
									<div class="form-group col">
											<label for="valor">Digitos</label>
											{{documento.valor}}
									</div>
							</div>

							<h2>Endereço</h2>
										{% for field in endereco %}
												<div class="form-group">
														{{field.errors}}
														{{field.label_tag}}
														{{field}}
												</div>
										{% endfor %}
										<a class="btn btn-primary btn-lg btnPrevious">
												<i class="fas fa-arrow-left"></i>
										</a>

										<a class="btn btn-primary btn-lg float-end btnNext">
												<i class="fas fa-arrow-right"></i>
										</a>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<h1>Denúncia</h1>
								{% for field in denuncia %}
								<div class="form-group">
										{{field.errors}}
										{{field.label_tag}}
										{{ field}}
								</div>
								{% endfor %}
						<a class="btn btn-primary btn-lg btnPrevious">
								<i class="fas fa-arrow-left"></i>
						</a>
						<button type="submit" class="btn btn-primary btn-lg float-end">Enviar</button>
					</div>
				</div>
	</form>
	
</div>
<script>
	function te(valor) {
		var bairros = document.getElementById("id_bairro");
		var teste = {{teste}}
		for (let t = 1; t <= Object.keys(teste).length; t++) {
				if (t == valor) {
						var fodase = teste[t]
						for (let x = 0; x < fodase.length; x++) {
						var element = bairros[fodase[x]];
						element.setAttribute("escolhido",'sim')
						
						
						}
				}   
}
		for (let h = 0; h < bairros.length; h++) {
			const element = bairros[h];
			if (!(element.hasAttribute("escolhido"))) {
			 element.setAttribute("hidden",true)
		}
			else {
				element.removeAttribute("hidden")
			}
			element.removeAttribute("escolhido")
		}
	}

</script>

<script>
	var Value = document.getElementById("id_cidade");
	var teste = Value.addEventListener('input',teste,false);
	function teste() {
		te(Value.value)
	}
</script>

{% endblock content %}
