{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}Secretaria {% endblock titulo_da_pagina %}
{% block navbar %}

{% block navitens %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'registro_comunicante' %}">Registrar</a>
      </li>
      
    </ul>
  </div>
{% endblock navitens %}

{% endblock navbar %}
{% block content %}
<img src="{%static 'images/conselho_tutelar.png'%}" class="img-fluid" alt="" >
{% endblock content %}

