.navbar {
    background-color: #162649;
}

#nome-titulo{
    margin-left: 10px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #162649;
}

.footer {
    background-color: #162649;
    color: white;
  }

main > .container {
    padding-top: 80px;
  }