{% extends "app/base.html" %}
{% load static %}
{% block titulo_da_pagina %}{{ titulo_pagina }} {% endblock titulo_da_pagina %}
{% block navbar %}

{% endblock navbar %}
{% block content %}

<div class="container">
  <form class="form-group mb-3" method="get" action='{% url 'app:lista_vitima'  %}'>
    <div class="row">
      <div class="col-10">
      <input class="form-control" type="search" name ="search" placeholder="Pesquisar" aria-label="Search">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  data-bs-toggle="tooltip" data-bs-placement="top" title="Pesquisar"><i class="fas fa-search"></i></button>
      </div>
      <div class="col-auto">
        <a href="{% url 'app:cadastrar_vitima'%}" role="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top" title="Adicionar Vítima" ><i class="fas fa-user-plus"></i></a>
      </div>
    </div>
  </form>

        <div class="row">
          <div class="col-sm-8">
                        <table class="table">
                            <thead >
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">Ações</th>
                                </tr> 
                            </thead>
                            <tbody>
                                {% for vitima in vitimas %}
                                <tr>
                                    <th scope="row">{{vitima.id}}</th>
                                    <td>{{vitima.nome}}</td>
                                    <td>
                                    <a href="{% url 'app:visualizar_vitima' vitima.id %}" role="button" class="btn btn-info"   data-bs-toggle="tooltip" data-bs-placement="top" title="Visualizar">
                                        <i class="far fa-eye"></i>
                                    </a>
                                    <a href="{% url  'app:gerar_pdf_vitima'  vitima.id  %}" role="button" class="btn red btn-danger" data-toggle="tooltip" target="_blank" title="Gerar Pdf">
                                      <i class="fas fa-file-pdf"></i>
                                    </a>
                                  </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if vitimas %}
            <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center">
                       {% if vitimas.has_previous %}
                            <li class="page-item">
                              <a class="page-link" href="?page={{ vitimas.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                      {% endif %}


                        {% for i in vitimas.paginator.page_range %}
                          {% if vitimas.number == i %}
                            <li class="page-item"><a class="page-link active" href="?page={{vitimas.number }}">{{  vitimas.number}}</a></li>
                          {% else %}
                              <li class="page-item"><a class="page-link active" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                      {% if vitimas.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="?page={{ vitimas.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      {% endif %}
                  </ul>
            </nav>
        {% endif %}
          </div>

          <div class="col-sm-4">
            <ul class="list-group" >
              <li class="list-group-item maioridade">
                  <h5>Maioridade</h5>
              </li>
              {% for maioridade in maioridades %}
              <li class="list-group-item  flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                  <a href="{% url 'app:visualizar_vitima' maioridade.id %}">{{maioridade.nome}}</a>
                  <small>{{maioridade.data_nascimento| date:"d/m"}}</small>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

            
        
          
        </div>
    
</div>
  
 
{% endblock content %}
